# node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tsbuildinfo

# next.js
.next/
out/

# build artifacts
build/
dist/

# local envs (não versionar) — mantém apenas o exemplo
.env*
!.env.example

# vercel
.vercel/

# coverage
coverage/
*.lcov

# editors/OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# certs / chaves
*.pem
*.crt
*.key

# turborepo (se algum dia usar)
.turbo/

# gerado pelo Next
next-env.d.ts
